/* page.module.css */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.itemHeading {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
}