.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.logo {
    flex: 1;
}

.logo img {
    height: 100px;
}

.fields {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
}

.link {
    text-decoration: none;
    color: #1da1f2;
    font-size: 20px;
    margin-right: 1rem;
}

.logout {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.logoutBtn {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 15px;
}

.logoutBtn:hover {
    background-color: #c82333;
}

/* Estilos para os botões de Login e Registro */
.authButton {
    border: 2px solid #1da1f2;
    background-color: transparent;
    color: #1da1f2;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.authButton:hover {
    background-color: #1da1f2;
    color: white;
}

/* Específico para o botão de login */
.loginButton {
    font-size: 18px;
    margin-right: 0.5rem;
}

/* Específico para o botão de registro */
.registerButton {
    font-size: 18px;
    margin-right: 0.5rem;
}