.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.logo {
    flex: 1;
}

.logo img {
    height: 100px;
}

.fields {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
    /* Isso move os links para o canto direito */
}

.link {
    text-decoration: none;
    color: #1DA1F2;
    font-size: 20px;
    margin-right: 1rem;
    /* Espaçamento entre os links */
}

.logout {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.logoutBtn {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 15px;
}

.logoutBtn:hover {
    background-color: #c82333;
}