@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.logo {
    flex: 1;
}

.logo img {
    height: 100px;
    /* Ajuste conforme necessário */
}

.fields {
    display: flex;
    gap: 1rem;
    flex: 2;
    /* Centraliza os itens de navegação */
    justify-content: center;
    /* Centraliza os itens dentro deste container */
}

.link {
    text-decoration: none;
    color: #1DA1F2;
    font-size: 20px;
}

.logout {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    /* Alinha o botão de logout à direita */
}

.logoutBtn {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 15px;
}

.logoutBtn:hover {
    background-color: #c82333;
}