@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Estilo geral para os formulários */
form {
    max-width: 400px;
    margin: 3rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #4c70bd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    text-align: center;
    font-family: 'Poppins', sans-serif;
        font-weight: 700;
    /* Centraliza o conteúdo */
}

form.hidden {
    opacity: 0;
    transform: translateY(-20px);
}

form input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    /* Aumenta o espaçamento entre os inputs */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: opacity 0.5s ease-out;
}

form input:focus {
    outline: none;
    border-color: #0070f3;
    box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
}

form button {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1.5rem;
    /* Adiciona espaçamento entre os inputs e o botão */
    background-color: #17bf63;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.5s ease-out;
}

form button:disabled {
    background-color: #1ae474;
    cursor: not-allowed;
}

form button:hover {
    background-color: #1ae474;
}

/* Título da página de login */
.title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 2.5rem;
    /* Aumenta o espaçamento entre o título e o formulário */
    font-size: 2rem;
    /* Aumenta o tamanho do título */
}

/* Responsividade */
@media (max-width: 768px) {
    form {
        padding: 1.5rem;
        margin: 2rem 1rem;
    }
}

@media (max-width: 480px) {
    form {
        padding: 1rem;
        margin: 1rem 0.5rem;
    }
}